.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.experiencia .subtitulo {
  color: #4169e1;
}
.experiencia_texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia_texto strong {
  color: #141414;
}
.empresa {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  /* position relative para apaio de posição do elemento ano */
  position: relative;
}
/* Ajuste do ano para as experiências */
.empresa_ano {
  position: absolute;
  top: 20px;
  left: -80px;
  color: #525252;
  font-size: 0.875rem;
}
/* Detalhe verde na caixa de experiências */
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 40px;
  background: linear-gradient(#00bbff, #4169e1);
  position: absolute;
  left: -4px;
}
.empresa_titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
.empresa_texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa_habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}
/* Ajustando os elementos da lista de habilidades */
.empresa_habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}
/* Ajuste de visita de sites */
.empresa_btn {
  grid-row: 3/4;
  padding: 10px 20px;
  border: none;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  /* Ajuste externo */
  --c: #00bbff; /* the color*/

  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.empresa_btn:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
.empresa_btn:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
.empresa_btn a {
  text-decoration: none;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  color: #4169e1;
}
/* Ajuste de responsividade */
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .experiencia .subtitulo {
    color: #4169e1;
  }
  .empresa_texto {
    font-size: 1.25rem;
  }
  .empresa_ano {
    left: 40px;
    top: -20px;
  }
}
